body {
    margin: 0;
    background: rgb(224, 224, 224);
}

.navbar-nav{
    background-color: #ffffff;
    border-radius: 15px;
}

.nav-link{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.nav-link:hover{
    border-color: red;
    border-style: solid;
    border-width: 0px 0px 2px 0px;

    font-weight: bold;
}

.active{
    border-color: red;
    border-style: solid;
    border-width: 0px 0px 2px 0px;

    font-weight: bold;
}

.navegador{
    background: rgb(224, 224, 224);
    height: 65px;
}

.contenedor{
    border-radius: 25px;
}

.logo{
    background: rgba(255, 255, 255, 0.205);
    padding: 0px;
    margin: 0px;
}

.divisor {
    background: linear-gradient(to right,  #FF0040, #B23EFF);
    display: flex; 
    justify-content:end;
    height: 25px;
}

footer {
    background: linear-gradient(to right,  #FF0040, #B23EFF);
    display: flex; 
    justify-content:end;
    height: 50px;
}