body {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url("https://www.upb.edu.co/es/imagenes/img-edificiossedefloridablanca-cam-1464097906257.jpg");
    background-repeat: no-repeat;
}

.navbar-nav{
    background-color: #ffffff;
    border-radius: 15px;
}

.nav-link{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.nav-link:hover{
    border-color: red;
    border-style: solid;
    border-width: 0px 0px 2px 0px;

    font-weight: bold;
}

.active{
    border-color: red;
    border-style: solid;
    border-width: 0px 0px 2px 0px;

    font-weight: bold;
}

.navegador{
    background: rgb(224, 224, 224);
    height: 65px;
}

.contenedor{
    border-radius: 25px;
}

.logo{
    background: rgba(255, 255, 255, 0.205);
    padding: 0px;
    margin: 0px;
}

.thot{
    height: 65px;
    margin-left: 5px;
}

.divisor {
    background: linear-gradient(to right,  #FF0040, #B23EFF);
    display: flex; 
    justify-content:end;
    height: 25px;
}

footer {
    background: linear-gradient(to right,  #FF0040, #B23EFF);
    bottom: 0;
    height: 50px;
    width: 100%;
}